*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    position: relative;
    height: 50px;
    padding: 10px 20px;
    border-bottom: 1px solid darkgray;
}

.login{
    position: absolute;
    left: 20px;
    top: 50%;
    width: fit-content;
    transform: translateY(-50%);
}

.login p > span{
    margin: auto 10px;
}

.logout{
    position: absolute;
    right: 20px;
    top: 50%;
    width: fit-content;
    transform: translateY(-50%);
}

h1.cabecera{
    margin: 40px;
    font-size: 40pt;
}

h1.titulo{
    margin: 5px;
    font-size: 20pt;
}

section{
    margin: 50px auto;
    width: fit-content;
}

section > .button{
    margin: 10px auto;
}

.caratula{
    width: 256px;
    height: 256px;
    
}

a > .caratula{
    opacity: .2;
    transition: opacity .2s ease-in;
}

.caratula:hover{
    opacity: 1;
}

.info{
    margin: 0 auto 40px auto;
}

.campo{
    display: inline;
    padding: 1px;
    color: lightslategray;
}

.data{
    display: inline;
    padding: 1px;
    font-weight:500;
}

div.listaComentarios{
    margin: 10px auto;
    width: fit-content;
}

.fecha{
    font-size: 10pt;
    display: inline;
    color: lightslategrey;
}

a{
    color: black;
    text-decoration-line: none;
}

div.back{
    margin: 20px auto;
    width: 40%;
}

.user{
    font-weight: bold;
}

.left{
    text-align: left;
}

.formCom{
    width: 40%;
    margin: 40px auto;
}

.button{
    width: fit-content;
    background-color: black;
    color: white;
    padding: 4px 10px;
    border-radius: 16px;
    border: none;
    transition: all .2s ease-in-out;
    transform-origin: center;
    cursor: pointer;
}

.button:hover{
    background-color: grey;
    transform: scale(1.2);
}

.button > a{
    color: white;
}

form > input{
    margin: 8px auto;
    display: block;
}

.userComment{
    margin: 2em auto;
    line-height: 1em;
}

#messageError{
    color: red;
}